$base-color: #099;

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); //flexible width, 1fr can be changed to fixed size
  column-gap: 20px;
  max-width: 940px;
  height: 100vh;
  margin: auto;
  background-color: lightpink;
}

.item {
  width: 100%;
  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      background-color: lighten($base-color, $i * 5%);
    }
  }
  text-align: center;
}
